/* common style  */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

.bg-container {
    background-color: white;
}

.primary-btn {
    margin-bottom: 50px;
    padding: 20px;
    border: none;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 5px;

}

/* body {
    background-color: rgba(255, 144, 14, 0.1);


} */

/* common style  */
/* header style start */
header {
    margin-top: 50px;
    margin-bottom: 100px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
}

.header nav ul {
    display: flex;
    gap: 20px;
    align-items: center;

}

.header nav ul li {
    list-style-type: none;
}

.header nav ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

/* header style end */
/* Brand New Group of Architects  start*/
.brand-new {
    width: 600px;
    text-align: center;
    margin: 0 auto;

}

.brand-new-title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 10px;

}

.brand-new-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.imgae-part {
    margin: 0 auto;
    width: 100%
}

.imgae-part img {
    width: 100%;
    padding: 0 150px;
}

/* Brand New Group of Architects  end*/
/* Quick list of Our Features  */
.container {
    margin: 130px 200px;
    display: flex;
    gap: 73px;
}

.container-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.container-left img {
    width: 100%
}

.container-right {
    width: 700px;
    /* padding-top: 50px; */
}

.container-right-title {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
}

.container-right-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 24px;
}

.quick {
    color: #727272;

}

.features-color {
    color: #FF900E;

}

/* Quick list of Our Features end  */

/* Features you will love & enjoy */
.fetures {
    display: flex;
    padding: 0 100px;
    gap: 50px;
    margin-bottom: 100px;
}

.fetures-title {
    border-left: 5px solid #FF900E;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
}

.fetures-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 40px;
}

.fetures-sub-title {
    font-weight: 600;
    font-size: 20px;
}

.right-fetures {
    position: relative;
    width: 60%;
}

.left-fetures {
    width: 40%;
}

.fetures-img {
    width: 675px;
    height: 800px;
}

.year {
    background: #FF900E;
    border-radius: 8px;
    width: 342px;
    height: 200px;
    position: absolute;

    left: 20px;
    top: 600px;




}

.year-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding: 30px 30px 0 30px;
}

.year-sub {
    font-weight: 500;
    font-size: 25px;
    padding: 0px 0px 0 80px;
    color: #FFFFFF;
}

/* Features you will love & enjoy */
/* Some Facts  */

.fact {
    margin: 0 100px 100px 100px;

}

.fact-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
}

.fact-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 70px;

}

.fact-boxes {
    display: flex;
    gap: 20px;
}

.boxes-words {
    border: 1px solid gold;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
    transition: transform 1s ease;
    

}
.boxes-words:hover{
    border: 1px solid gold;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
    transform: rotate(180deg);
    background-color: rgba(128, 128, 128, 0.467);
    
}

.award {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* Some Facts  end*/

/* Our Sponspors  */
.sponser {
    margin: 0 150px 150px 100px;
}

.sponser-title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;

}

.sponser-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-bottom: 50px;
}

.sites-box {
    display: flex;
    gap: 30px;
    justify-content: center;

}

.bosex-name {}

.bosex-name img {
    width: 100px;
}

/* Our Sponspors end */
/* last part  */
footer {
    margin: 0 150px 150px 100px;

}
/* oftional sign her  */
.sign-here{
    text-align: center;
    margin: 50px 0;
}
/* oftional sign her  */

.footer-title {
    text-align: center;
    background-color: #FFF4E7;
    padding: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;

}
.sing-in-btn{
    padding: 10px;
    border: none;
    background-color: rgb(237, 173, 9);
    margin: 20px 0;
    width: 300px;
    border-radius: 10px;
}
.sign-title{
    text-decoration: none;
    color: skyblue;
}
hr{
    color: rgba(172, 166, 166, 0.666);
    margin-bottom: 10px;
    
}
